<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Test test test test test test test testTest test test test test test test testTest test test test test test test testTest test test test test test test testTest test test test test test test test
  Test test test test test test test testTest test test test test test test testTest test test test test test test testTest test test test test test test test
  Test test test test test test test testTest test test test test test test testTest test test test test test test testTest test test test test test test test
</p>
